
<div class="page-header">
  <h3><%= app_name %> <small>Properties</small></h3>
</div>

<div class="panel panel-default">
   <div class="panel-heading">
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newPropertyModal">
         <i class="fa fa-plus fa-fw"></i> New Property
      </button>
      <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#downloadURLModal">
         <i class="fa fa-cloud-download fa-fw"></i> Get Download URL
      </button>
   </div>
    <div class="panel-body">
        <table class="table table-striped" id="properties_table">
            <colgroup>
                <col class="col-sm-3">
                <col class="col-sm-6">
                <col class="col-sm-3">
            </colgroup>
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            
            <% for (var key in config) { %>
            <tr>
               <td><%= key %></td>
               <td><%= config[key] %></td>
                <td>
                    <div class="btn-group pull-right">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-pencil fa-fw"></i> Edit
                    </button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-times fa-fw"></i> Delete
                    </button>
                    </div>
                </td>
            </tr>
         <% } %>

            </tbody>

        </table>
    </div>
</div><!-- panel -->

<!-- Download URL Modal -->
<div id="downloadURLModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         <h4 class="modal-title" id="myModalLabel">Properties File Download URL</h4>
       </div>
       <div class="modal-body">
         <div class="alert alert-info">
             <a href="/api/v1/application/<%= app_id %>/config.properties" class="alert-link">
                 http://localhost:1337/api/v1/application/<%= app_id %>/config.properties
             </a>
         </div>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-info btn-block btn-lg" data-dismiss="modal">
            <i class="fa fa-times fa-fw"></i> Close
         </button>
       </div>
     </div>
</div><!-- End of Modal dialog -->
</div><!-- End of Modal -->

<!-- New Property Modal -->
<div id="newPropertyModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         <h4 class="modal-title" id="myModalLabel">Create New Property</h4>
       </div>
       <div class="modal-body upload-form">
             <form class="form-horizontal" name="newpropertyform" method="post" enctype="multipart/form-data" 
                 action="/api/v1/application/<%= id %>/property">
                 <fieldset>
                 <div class="form-group">
                     <div class="col-md-11 input-group">
                         <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                         <input type="text" class="form-control" id="key" name="key" placeholder="Key" autofocus/>
                     </div>
                 </div>
                 <div class="form-group">
                     <div class="col-md-11 input-group">
                         <span class="input-group-addon"><i class="fa fa-unlock-alt fa-fw"></i></span>
                         <input type="text" class="form-control" id="value" name="value" placeholder="Value"/>
                     </div>
                 </div>
                 <div class="form-group">
                     <div class="col-md-11 input-group">
                         <div class="btn-group">
                           <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-tags"> Tags</span></button>
                           <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                             <span class="caret"></span>
                             <span class="sr-only">Toggle Dropdown</span>
                           </button>
                           <ul class="dropdown-menu" role="menu">
                             <li><a href="#">Prod</a></li>
                             <li><a href="#">QA</a></li>
                             <li><a href="#">PTC</a></li>
                             <li><a href="#">aws-east-region</a></li>
                           </ul>
                         </div>
                         <span>
                             <button class="btn btn-default btn-success" onclick="alert('Hi'); return false;">
                                 <span class="glyphicon glyphicon-remove"></span> Prod
                             </button>
                         </span>
                     </div>
                 </div>
                 <br>
                 <div class="form-group">
                     <div class="col-md-11 input-group">
                         <button type="submit" value="Submit" class="btn btn-info btn-lg btn-block">
                             <i class="fa fa-plus fa-fw"></i> Add
                         </button>
                     </div>
                 </div>
                 </fieldset>
             </form>
       </div>
     </div>
 </div><!-- End of Modal dialog -->
</div><!-- End of Modal -->

<!-- Edit Property Modal -->
<div id="editPropertyModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="EditPropertyModalLabel" aria-hidden="true">
 <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         <h4 class="modal-title" id="myModalLabel">Edit Property</h4>
       </div>
       <div class="modal-body upload-form">
             <form class="form-horizontal" name="newpropertyform" method="PUT" enctype="multipart/form-data" 
                 action="/api/v1/application/<%= id %>/property">
                 <fieldset>
                 <div class="form-group">
                     <div class="col-md-11 input-group">
                         <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                         <input type="text" class="form-control" id="key" name="key" placeholder="Key" autofocus/>
                     </div>
                 </div>
                 <div class="form-group">
                     <div class="col-md-11 input-group">
                         <span class="input-group-addon"><i class="fa fa-unlock-alt fa-fw"></i></span>
                         <input type="text" class="form-control" id="value" name="value" placeholder="Value"/>
                     </div>
                 </div>
                 <div class="form-group">
                     <div class="col-md-11 input-group">
                         <div class="btn-group">
                           <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-tags"> Tags</span></button>
                           <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                             <span class="caret"></span>
                             <span class="sr-only">Toggle Dropdown</span>
                           </button>
                           <ul class="dropdown-menu" role="menu">
                             <li><a href="#">Prod</a></li>
                             <li><a href="#">QA</a></li>
                             <li><a href="#">PTC</a></li>
                             <li><a href="#">aws-east-region</a></li>
                           </ul>
                         </div>
                         <span>
                             <button class="btn btn-default btn-success" onclick="alert('Hi'); return false;">
                                 <span class="glyphicon glyphicon-remove"></span> Prod
                             </button>
                         </span>
                     </div>
                 </div>
                 <br>
                 <div class="form-group">
                     <div class="col-md-11 input-group">
                         <button type="submit" value="Submit" class="btn btn-info btn-lg btn-block">
                             <i class="fa fa-save fa-fw"></i> Save
                         </button>
                     </div>
                 </div>
                 </fieldset>
             </form>
       </div>
     </div>
 </div><!-- End of Modal dialog -->
</div><!-- End of Modal -->

<script src="/js/application/index.js"></script>
<script type="text/javascript">
   var PropertyModel = Backbone.Model.extend({
      urlRoot: '/api/v1/application/<%= id %>',

      initialize: function() {
         console.log('PropertyModel has been initialized');
         this.on("change", function() {
            console.log('values for property model have changed');
         });
      }

   });

   var propertyModel = new PropertyModel();
   var propertyView = new PropertyView({model: propertyModel});

   propertyView.load();
</script>

